<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img [src]="utils.sanitizeImageBase64(this.currentLineBase64)" alt="" style="height: 200px">
</div>

<mat-button-toggle-group #group="matButtonToggleGroup" (change)="selectedStyle = group.value">
  <mat-button-toggle value="0" [checked]="selectedStyle === 0">Paolo</mat-button-toggle>
  <mat-button-toggle value="1" [checked]="selectedStyle === 1">Giorgio</mat-button-toggle>
</mat-button-toggle-group>

<button mat-button (click)="reset()">Reset</button>

<mat-form-field style="width: 100%">
  <textarea matInput placeholder="Input text" #inputText (keyup)="onChange(inputText.value)"></textarea>
  <mat-hint align="start">Better to write in English</mat-hint>
</mat-form-field>
